<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1>Reservation</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">ログイン</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" href="#">新規登録</a>
      </li>
    </ul>
    </div>
  </div>
  </nav> -->

<nav class="navbar navbar-expand-lg fixed-top navbar-danger navbar-transparent" color-on-scroll="500">
  <div class="container">
  <div class="navbar-translate">
    <a class="navbar-brand" [routerLink]="['/']">Reservation</a>
    <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>ログイン</a>
      </li>
      <li class="nav-item">
      <a [routerLink]="['/register']" class="nav-link btn btn-danger btn-round text-light">新規会員登録する</a>
      </li>
    </ul>
  </div>
  </div>
</nav>